## CUSTOMER CHURN MACHINE LEARNING PREDICTION

## Business Understanding
In the highly competitive telecommunications industry, retaining customers is crucial for maintaining revenue and profitability. Customer churn, the phenomenon where customers stop using a company's services, poses a significant challenge. To address this, companies are increasingly leveraging machine learning techniques to predict churn and devise strategies to enhance customer retention.

This project aims to assist a telecommunication company in understanding their customer data, identifying factors contributing to churn, and predicting which customers are likely to churn. By building and evaluating classification models, we can provide actionable insights to help the company mitigate churn and improve customer loyalty.

### Stakeholders
 - Chief Marketing Officer (CMO) 
 - Customer Service Director 
 - Chief Data Officer

### Key Metrics and Success Criteria
 The Model should have an accuracy score of 85% (On balanced data)
 Good models are expected to have an accuracy score of >0.80 or 80% 

#### Features
- CustomerID -- A unique customer identification
- Gender -- Whether the customer is a male or a female
- SeniorCitizen -- Whether a customer is a senior citizen or not
- Partner -- Whether the customer has a partner or not (Yes, No)
- Dependents -- Whether the customer has dependents or not (Yes, No)
- Tenure -- Number of months the customer has stayed with the company
- Phone Service -- Whether the customer has a phone service or not (Yes, No)
- MultipleLines -- Whether the customer has multiple lines or not
- InternetService -- Customer's internet service provider (DSL, Fiber Optic, No)
- OnlineSecurity -- Whether the customer has online security or not (Yes, No, No Internet)
- OnlineBackup -- Whether the customer has online backup or not (Yes, No, No Internet)
- DeviceProtection -- Whether the customer has device protection or not (Yes, No, No internet service)
- TechSupport -- Whether the customer has tech support or not (Yes, No, No internet)
- StreamingTV -- Whether the customer has streaming TV or not (Yes, No, No internet service)
- StreamingMovies -- Whether the customer has streaming movies or not (Yes, No, No Internet service)
- Contract -- The contract term of the customer (Month-to-Month, One year, Two year)
- PaperlessBilling -- Whether the customer has paperless billing or not (Yes, No)
- Payment Method -- The customer's payment method (Electronic check, mailed check, Bank transfer(automatic), Credit card(automatic))
- MonthlyCharges -- The amount charged to the customer monthly
- TotalCharges -- The total amount charged to the customer
- Churn -- Whether the customer churned or not (Yes or No)

### Hypothesis
Null Hypothesis (H0): Customer demographics have no significant effect on churn.

Alternative Hypothesis (H1): Customer demographics have a significant effect on churn. 

### Analytical Questions
1. What is the Churn percentage based on the paymment method?
2. What are the key demographic factors (e.g., gender, age, dependents) that influence customer churn?
3. How frequently do customers who churn interact with customer support compared to those who stay?
4.  How does the tenure of a customer impact their likelihood of churning?
5. Which services (e.g., streaming, international calls, internet service) are most frequently used by customers who churn?
6. How does the type of contract (e.g., month-to-month, one year, two years) impact churn rates?
7. What are the common issues raised by customers who churn during their interactions with customer support?

## Data Understanding

#### Importations

In [1]:
# Data Manipulation Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyodbc
from dotenv import dotenv_values
import warnings
warnings.filterwarnings('ignore')

#### Load the datasets

In [48]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values (r'C:\Users\MERCY CHEBET\Desktop\Azubi\Customer-Churn-ML-Prediction\datasets\.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get('SERVER')
database = environment_variables.get('DATABASE')
username = environment_variables.get('USERNAME')
password = environment_variables.get('PASSWORD')

# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [49]:
connection = pyodbc.connect(connection_string)

In [50]:
# Loading the First 3000 dataset
query = "SELECT * FROM LP2_Telco_churn_first_3000"

data = pd.read_sql(query, connection)

data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [51]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [25]:
# Loading the second 2000 data
df=pd.read_csv('../datasets/LP2_Telco-churn-second-2000.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [30]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

#### Merging the Datasets

In [53]:
# Combine DataFrames
churn_df = pd.concat([data, df], ignore_index=True)

churn_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,0,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,0,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
5039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
5040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
5041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
5042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

In [54]:
# Covert all True to 'Yes' and False to 'No' for a good data consistency 

churn_df.replace(True, 'Yes', inplace=True)
churn_df.replace(False, 'No', inplace=True)

churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,None,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.850000,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.950001,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.849998,108.150002,Yes
3,7795-CFOCW,Male,0,No,No,45,No,None,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.299999,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.699997,151.649994,Yes

## EDA

In [55]:
churn_df.shape

(5043, 21)

In [56]:
churn_df.info

<bound method DataFrame.info of       customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     7590-VHVEG  Female              0     Yes         No       1
1     5575-GNVDE    Male              0      No         No      34
2     3668-QPYBK    Male              0      No         No       2
3     7795-CFOCW    Male              0      No         No      45
4     9237-HQITU  Female              0      No         No       2
...          ...     ...            ...     ...        ...     ...
5038  6840-RESVB    Male              0     Yes        Yes      24
5039  2234-XADUH  Female              0     Yes        Yes      72
5040  4801-JZAZL  Female              0     Yes        Yes      11
5041  8361-LTMKD    Male              1     Yes         No       4
5042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0              No              None             DSL             No  ...
1             Yes                No             DSL            Yes  ...
2             Yes                No             DSL            Yes  ...
3              No              None             DSL            Yes  ...
4             Yes                No     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
5038          Yes               Yes             DSL            Yes  ...
5039          Yes               Yes     Fiber optic             No  ...
5040           No  No phone service             DSL            Yes  ...
5041          Yes               Yes     Fiber optic             No  ...
5042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
5038              Yes         Yes         Yes             Yes        One year
5039              Yes          No         Yes             Yes        One year
5040               No          No          No              No  Month-to-month
5041               No          No          No              No  Month-to-month
5042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                 Yes           Electronic check      29.850000         29.85
1                  No               Mailed check      56.950001        1889.5
2                 Yes               Mailed check      53.849998    108.150002
3                  No  Bank transfer (automatic)      42.299999       1840.75
4                 Yes           Electronic check      70.699997    151.649994
...               ...                        ...            ...           ...
5038              Yes               Mailed check      84.800000        1990.5
5039              Yes    Credit card (automatic)     103.200000        7362.9
5040              Yes           Electronic check      29.600000        346.45
5041              Yes               Mailed check      74.400000         306.6
5042              Yes  Bank transfer (automatic)     105.650000        6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
5038    No
5039    No
5040    No
5041   Yes
5042    No

[5043 rows x 21 columns]>

In [57]:
churn_df.duplicated().sum()

np.int64(0)

In [58]:
# Missing values with their percentages 
churn_df.isnull().sum().to_frame('Null Count').assign(Percentage=lambda x: (x['Null Count'] / len(churn_df)) * 100)

                  Null Count  Percentage
customerID                 0    0.000000
gender                     0    0.000000
SeniorCitizen              0    0.000000
Partner                    0    0.000000
Dependents                 0    0.000000
tenure                     0    0.000000
PhoneService               0    0.000000
MultipleLines            269    5.334127
InternetService            0    0.000000
OnlineSecurity           651   12.908983
OnlineBackup             651   12.908983
DeviceProtection         651   12.908983
TechSupport              651   12.908983
StreamingTV              651   12.908983
StreamingMovies          651   12.908983
Contract                   0    0.000000
PaperlessBilling           0    0.000000
PaymentMethod              0    0.000000
MonthlyCharges             0    0.000000
TotalCharges               5    0.099147
Churn                      1    0.019829

In [59]:
churn_df.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,5043.0,0.162403,0.368857,0.0,0.000,0.000000,0.000000,1.000000
tenure,5043.0,32.576641,24.529807,0.0,9.000,29.000000,56.000000,72.000000
MonthlyCharges,5043.0,65.090214,30.068133,18.4,35.775,70.550003,90.050003,118.650002

In [60]:
churn_df.describe(include= 'object').T

                   count  unique               top  freq
customerID          5043    5043        3186-AJIEK     1
gender              5043       2              Male  2559
Partner             5043       2                No  2585
Dependents          5043       2                No  3482
PhoneService        5043       2               Yes  4554
MultipleLines       4774       3                No  2424
InternetService     5043       3       Fiber optic  2248
OnlineSecurity      4392       3                No  2507
OnlineBackup        4392       3                No  2231
DeviceProtection    4392       3                No  2219
TechSupport         4392       3                No  2472
StreamingTV         4392       3                No  2018
StreamingMovies     4392       3               Yes  1982
Contract            5043       3    Month-to-month  2744
PaperlessBilling    5043       2               Yes  2996
PaymentMethod       5043       4  Electronic check  1700
TotalCharges      5038.0  4884.0         20.200001   5.0
Churn               5042       2                No  3706

In [ ]:
# Distribution of Numerical Feature
churn_df.hist(figsize= (14,10),grid=False, color='skyblue')
plt.show()

## Data Preparation

## Modelling  and Evaluation